![Pandas Tutorial | Hedaro >](https://www.dropbox.com/s/220ncn0o5danuey/pandas-ipython-tutorials-hedaro.jpg?dl=1)
# Lesson 5

> We will be taking a brief look at the ***stack*** and ***unstack*** functions.

In [1]:
# Import libraries
import pandas as pd
import sys

In [2]:
print('Python version ' + sys.version)
print('Pandas version: ' + pd.__version__)

Python version 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
Pandas version: 1.4.2

In [3]:
# Our small data set
d = {'one':[1,1],'two':[2,2]}
i = ['a','b']

# Create dataframe
df = pd.DataFrame(data = d, index = i)
df

   one  two
a    1    2
b    1    2

In [4]:
df.index

Index(['a', 'b'], dtype='object')

In [5]:
# Bring the columns and place them in the index
stack = df.stack()
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [6]:
# The index now includes the column names
stack.index

MultiIndex([('a', 'one'),
            ('a', 'two'),
            ('b', 'one'),
            ('b', 'two')],
           )

In [7]:
df

   one  two
a    1    2
b    1    2

In [8]:
unstack = df.unstack()
unstack

one  a    1
     b    1
two  a    2
     b    2
dtype: int64

In [9]:
unstack.index

MultiIndex([('one', 'a'),
            ('one', 'b'),
            ('two', 'a'),
            ('two', 'b')],
           )

We can also flip the column names with the index using the ***T*** (transpose) function.

In [10]:
transpose = df.T
transpose

     a  b
one  1  1
two  2  2

In [11]:
transpose.index

Index(['one', 'two'], dtype='object')